# APP ENVs
ENVIRONMENT=
MPESA_TRANSACTION_TYPE=
MPESA_APP_BASE_URL=
APP_BASE_URL=

# DATABASE
DATABASE_NAME=kenyaemr_payments # the name of the database
DATABASE_USER=root # the username of the db
DATABASE_PASSWORD=admin # the password of the db
DATABASE_HOST=localhost # the database host
DB_URL="mysql:root@admin:3306/kenyaemr_payments"# the database url